node_modules/
dist/
dist_packages/
dist_test/
core/bin/*.exe
core/bin/*.pdb
core/bin/*.mjs
site/
coverage/
.vscode/
vscode/out
test_entry.zy
test_io_tmp.txt
test_io_data.json
test_io_data.yaml
test_watch_tmp.txt
test.zyra.env
.zyra_cache/
.zyra_modules/
*.pdb
*.db
test_config.json
test_run.log
test_store.db